<script>
    var API_BASE = 'http://localhost:8080/api';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/index.js"></script>
<script type="text/javascript">
    function change_image(image) {
        var container = document.getElementById("main-image");
        container.src = image.src;
    }

    document.addEventListener("DOMContentLoaded", function (event) {

    });
</script>
</body>

</html>
