<%- include('partials/header.ejs'); %>

<%- include('partials/navbar.ejs'); %>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-7">
      <select name="sort_by" id="sort_by" class="form-select w-25 float-start me-3">
        <option value="">Sort by: Featured</option>
      </select>
      <select name="category" id="category" class="form-select w-25 float-start">
        <option value="">Category</option>
      </select>
    </div>
    <div class="col-lg-2 text-end">
      <button type="button" class="btn btn-outline position-relative">
        <i class="fa fa-heart"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          0
          <span class="visually-hidden">Wishlist</span>
        </span>
      </button>
      <button type="button" class="btn btn-outline position-relative me-3">
        <i class="fa fa-cart-shopping"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          0
          <span class="visually-hidden">Cart</span>
        </span>
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-3">
      <div class="block">
        <h6>Customer Reviews</h6>

        <div class="side-filter-stars mb-3">
          <div class="rating">
            <a class="rating-filter rating-4up" href="">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i> & up
            </a>
          </div>
          <div class="rating">
            <a class="rating-filter rating-3up" href="">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i> & up
            </a>
          </div>
          <div class="rating">
            <a class="rating-filter rating-2up" href="">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i> & up
            </a>
          </div>
          <div class="rating">
            <a class="rating-filter rating-1up" href="">
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i> & up
            </a>
          </div>
        </div>
      </div>

      <div class="block mb-3">
        <h6>Price</h6>

        <div class="row">
          <div class="col">
            <input type="number" aria-label="Min" class="form-control" min="0" step="1" placeholder="Min" />
          </div>
          <div class="col">
            <input type="number" aria-label="Max" class="form-control" min="0" step="1" placeholder="Max" />
          </div>
          <div class="col">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
              Go
            </button>
          </div>
        </div>
      </div>

      <div class="block mb-3">
        <h6>Brands</h6>

        <div class="side-filter-brands">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              ASUS
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              HTC
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Apple
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Google
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Huawei
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Lenovo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Acer
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              LG
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Motorola
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Nokia
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Palm
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              OPPO
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              RealMe
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Samsung
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Sony
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Vivo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Xiaomi
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              OnePlus
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row product-grid">
        <div class="col-lg-3 mb-3">
          <div class="product">
            <a href="#" class="add-to-wishlist">
              <img src="/images/add-to-favorites.png">
            </a>

            <a href="#" class="add-to-cart">
              <img src="/images/Group 1662.png">
            </a>

            <img src="/images/magsafe-2-600x600 1.png" alt="" class="product-image">

            <div class="details">
              <p>
                <span class="product-name">Apple Magsafe Charger Cable Kit</span> <br>
                <span class="product-price">LKR 13,990.00</span> <br>
                <span class="product-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="product">
            <a href="#" class="add-to-wishlist">
              <img src="/images/add-to-favorites.png">
            </a>

            <a href="#" class="add-to-cart">
              <img src="/images/Group 1662.png">
            </a>

            <img src="/images/magsafe-2-600x600 1.png" alt="" class="product-image">

            <div class="details">
              <p>
                <span class="product-name">Apple Magsafe Charger Cable Kit</span> <br>
                <span class="product-price">LKR 13,990.00</span> <br>
                <span class="product-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="product">
            <a href="#" class="add-to-wishlist">
              <img src="/images/add-to-favorites.png">
            </a>

            <a href="#" class="add-to-cart">
              <img src="/images/Group 1662.png">
            </a>

            <img src="/images/magsafe-2-600x600 1.png" alt="" class="product-image">

            <div class="details">
              <p>
                <span class="product-name">Apple Magsafe Charger Cable Kit</span> <br>
                <span class="product-price">LKR 13,990.00</span> <br>
                <span class="product-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="product">
            <a href="#" class="add-to-wishlist">
              <img src="/images/add-to-favorites.png">
            </a>

            <a href="#" class="add-to-cart">
              <img src="/images/Group 1662.png">
            </a>

            <img src="/images/magsafe-2-600x600 1.png" alt="" class="product-image">

            <div class="details">
              <p>
                <span class="product-name">Apple Magsafe Charger Cable Kit</span> <br>
                <span class="product-price">LKR 13,990.00</span> <br>
                <span class="product-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="product">
            <a href="#" class="add-to-wishlist">
              <img src="/images/add-to-favorites.png">
            </a>

            <a href="#" class="add-to-cart">
              <img src="/images/Group 1662.png">
            </a>

            <img src="/images/magsafe-2-600x600 1.png" alt="" class="product-image">

            <div class="details">
              <p>
                <span class="product-name">Apple Magsafe Charger Cable Kit</span> <br>
                <span class="product-price">LKR 13,990.00</span> <br>
                <span class="product-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="product">
            <a href="#" class="add-to-wishlist">
              <img src="/images/add-to-favorites.png">
            </a>

            <a href="#" class="add-to-cart">
              <img src="/images/Group 1662.png">
            </a>

            <img src="/images/magsafe-2-600x600 1.png" alt="" class="product-image">

            <div class="details">
              <p>
                <span class="product-name">Apple Magsafe Charger Cable Kit</span> <br>
                <span class="product-price">LKR 13,990.00</span> <br>
                <span class="product-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="product">
            <a href="#" class="add-to-wishlist">
              <img src="/images/add-to-favorites.png">
            </a>

            <a href="#" class="add-to-cart">
              <img src="/images/Group 1662.png">
            </a>

            <img src="/images/magsafe-2-600x600 1.png" alt="" class="product-image">

            <div class="details">
              <p>
                <span class="product-name">Apple Magsafe Charger Cable Kit</span> <br>
                <span class="product-price">LKR 13,990.00</span> <br>
                <span class="product-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mb-3">
          <div class="product">
            <a href="#" class="add-to-wishlist">
              <img src="/images/add-to-favorites.png">
            </a>

            <a href="#" class="add-to-cart">
              <img src="/images/Group 1662.png">
            </a>

            <img src="/images/magsafe-2-600x600 1.png" alt="" class="product-image">

            <div class="details">
              <p>
                <span class="product-name">Apple Magsafe Charger Cable Kit</span> <br>
                <span class="product-price">LKR 13,990.00</span> <br>
                <span class="product-rating">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs'); %> 