<%- include('partials/header.ejs'); %>

<%- include('partials/navbar.ejs'); %>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="container mt-5 mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="card admincard p-4">
                            <h1>Provide Further Information</h1>
                            <hr>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-12">                                         

                                    <div class="mb-3">
                                        
                                            <label for="ClountryRegion" class="form-label">Payment Method</label>
                                            <select class="form-select" aria-label="Default select example" id="ClountryRegion">
                                              <option selected>Cash on Delivery</option>
                                              <option value="1">Pay By Card</option>
                                              <option value="2">Paypal</option>
                                              <option value="3">Liver or Kidney</option>
                                          </select>
                                      </div>                                
                                  </div>
                                 
                                  
                            </div>
                        </form>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</div>    
</div>

<%- include('partials/footer.ejs'); %>
