body {
    background-color: #F4F4F4;
}

.auth-wrapper {
    width: 90%;
    border-radius: 100px;
    margin: 30px auto;
    border: 1px solid #F4F4F4;
    padding: 50px;
    background-color: #fff;
}

.form-wrapper {
    background-color: #F4F4F4;
    border-radius: 50px;
    padding: 25px;
}
